@media (max-width: 1200px) {
  .header {
    display: grid;
    justify-content: normal;
    grid-template-areas: 'logo menu' 'input input';
  }
  .input {
    display: grid;
    max-width: 100%;
    grid-area: input;
    grid-column: span 3;
  }
}

.cartIcon {
  position: absolute;
  bottom: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  text-align: center;
}
